/* Media Querry For Smartphone Devices Vertical */

@media (max-width: 480px){

    .hero{
        padding: 2rem 1rem;
        background-position: top;
    }

    .hero h3{
        margin-bottom: 80px;
    }

    .sec1{
        padding: 4rem 3rem;
    }

    .sec1 svg{
        width: 250px;
    }

    .sec1 p{
        font-size: 30px;
    }

    .sec2{
        padding: 4rem 3rem;
    }

    .sec2 h1{
        font-size: 30px;
        line-height: 42px;
    }

    .sec2-div1{
        flex-direction: column;
    }

    .sec2-div2{
        width: 100%;  
        margin-bottom: 40px;     
    }

    .sec2-div3{
        width: 100%;
        margin-bottom: 40px;
    }

    .sec2-div4{
        width: 100%;
        margin-bottom: 40px;
    }

    .sec3{
        padding-right: 20vw;
        min-width: 0;
    }

    .team{
        padding: 4rem 1rem;
        width: 100%;
        align-items: center;
    }

    .emplyee{
        flex-direction: column;
        margin-bottom: 5rem;
        margin-right: 0;
    }

    .employee-detail{
        width: 350px;
    }

    .team-1{
        flex-direction: column;
    }

    .ourteam{
        width: 100%;
    }

    .ourteam h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 33px;
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }

    .ourteam p{
        width: 19rem;
        padding: 0;
        margin-bottom: 40px;
    }

    .call-now{
        margin: 0;
    }

    .sec4{
        padding: 4rem 2rem;
        min-width: 0;
        min-height: 0;
    }

    .sec4 h1{
        font-size: 30px;
        font-weight: 400;
        line-height: 33px;
        padding: 0%;
        margin-bottom: 80px;
    }

    .features{
        flex-direction: column;
        width: 100%;
    }

    .feature_1{
        min-width: 20rem;
        padding: 0;
        margin-bottom: 40px;
    }

    .feature_1 svg{
        margin-bottom: 20px;
    }

    .blue-bg{
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem;
        width: 18rem;
        flex-direction: column;
    }

    .testimonial1{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 4rem;
    }

    .testimonial1 div h2{
        padding: 0;
        margin-bottom: 20px;
    }

    .testimonial1 div p{
        padding: 0;
    }

    .testimonial2{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 4rem;
    }

    .testimonial2 div h2{
        padding: 0;
        margin-bottom: 20px;
    }

    .testimonial2 div p{
        padding: 0;
    }

    .sec5{
        justify-content: center;
        padding: 0;
    }

    .sec5_2{
        width: 100%;
        text-align: left;
    }

    .sec5_2 h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 33px;
    }

    .dp2{
        width: 140px;
        height: 140px;
        margin-bottom: 3rem;
        margin-right: 0%;
    }

    .sec6{
        padding: 4rem 2rem;
    }

    .counting{
        flex-direction: column;
    }

    .counter{
        font-size: 48px;
        font-weight: 700;

    }

    .sec6 h1{
        width: 100%;
        font-size: 30px;
    }

    .about{
        width: 100%;
    }

    .count1{
        width: 100%;
        margin-bottom: 4rem;
    }

    .count2{
        width: 100%;
        margin-bottom: 4rem;
    }

    .count3{
        width: 100%;
        margin-bottom: 4rem;
    }

    .count4{
        width: 100%;
        margin-bottom: 4rem;
    }

    .sec7{
        padding: 4rem 2rem;
    }

    .sec7 h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 33px;
    }


    .form{
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }

    .form2{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .input{
        margin-bottom: 40px;
        margin-right: 0%;
        width: 300px;
    }

    .input_4 textarea{
        margin-right: 0%;
        min-width: auto;
    }

    .footer{
        padding: 2rem 1rem;
    }
 
    .footer p{
        width: 20rem;
    }

}

/* Media Querry For Tablet Devices */

 @media (min-width: 768px) and (max-width: 1024px){

    .hero{
        padding: 0px 5rem;
        background-position: center;
        height: 70vh;
    }

    .hero h3{
        margin-bottom: 130px;
    }

    .sec1{
        padding: 4rem 3rem;
    }

    .sec1 svg{
        width: 250px;
    }

    .sec1 p{
        font-size: 36px;
    }

    .sec2{
        padding: 4rem 5rem;
    }

    .sec2 h1{
        font-size: 36px;
        line-height: 42px;
    }

    .sec2-div1{
        align-items: center;
    }

    .img{
        width: 250px;
        height: 250px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    

    .sec2-div2{
        width: 78%;  
        margin-bottom: 40px;     
    }

    .sec2-div3{
        width: 100%;
        margin-bottom: 40px;
    }

    .sec2-div4{
        width: 78%;
        margin-bottom: 40px;
    }

    .sec3{
        padding-right: 1vw;
        min-width: 0;
    }

    .team{
        padding: 4rem 3rem;
        width: 100%;
        align-items: center;
        margin-bottom: -1px;
        margin-top: -1px;
    }

    .emplyee{
        margin-bottom: 5rem;
        margin-right: 0;
    }

    .employee-detail{
        width: 430px;
    }

    .team-1{
        flex-direction: column;
    }

    .ourteam{
        width: 100%;
    }

    .ourteam h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 33px;
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }

    .ourteam p{
        width: 19rem;
        padding: 0;
        margin-bottom: 40px;
    }

    .call-now{
        margin: 0;
    }

    .sec4{
        padding: 4rem 2rem;
        min-width: 0;
        min-height: 0;
    }

    .sec4 h1{
        font-size: 36px;
        font-weight: 400;
        line-height: 33px;
        padding: 0%;
        margin-bottom: 80px;
        max-width: 80vw;
    }

    .features{
        /* flex-direction: column; */
        width: 100%;
    }

    .feature_1{
        min-width: 20rem;
        padding: 0;
        margin-bottom: 40px;
    }

    .feature_1 svg{
        margin-bottom: 20px;
    }

    .blue-bg{
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem;
        flex-direction: column;
        width: 100%;
        margin-top: -1px;
        margin-bottom: -1px;
    }

    .testimonial1{
        align-items: flex-start;
        margin-bottom: 4rem;
        justify-content: space-around;
    }

    .testimonial1 div{
        max-width: 46vw ;
    }

    .testimonial1 div h2{
        padding: 0;
        margin-bottom: 20px;
    }

    .testimonial1 div p{
        padding: 0;
    }

    .testimonial2{
        align-items: flex-start;
        margin-bottom: 4rem;
        justify-content: space-around;
    }

    .testimonial2 div{
        max-width: 46vw ;
    }

    .testimonial2 div h2{
        padding: 0;
        margin-bottom: 20px;
    }

    .testimonial2 div p{
        padding: 0;
    }

    .sec5{
        justify-content: center;
        padding-right: 5vw;
    }

    .sec5_2{
        width: 100%;
        text-align: left;
    }

    .sec5_2 h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 33px;
        padding-left: 40px;
    }

    .dp2{
        width: 140px;
        height: 140px;
        margin-bottom: 3rem;
        margin-right: 0%;
    }

    .sec6{
        padding: 4rem 2rem;
    }

    .counting{
        flex-direction: column;
    }

    .counter{
        font-size: 48px;
        font-weight: 700;

    }

    .sec6 h1{
        width: 100%;
        font-size: 36px;
    }

    .about{
        width: 72%;
    }

    .count1{
        width: 100%;
        margin-bottom: 4rem;
    }

    .count2{
        width: 100%;
        margin-bottom: 4rem;
    }

    .count3{
        width: 100%;
        margin-bottom: 4rem;
    }

    .count4{
        width: 100%;
        margin-bottom: 4rem;
    }

    .sec7{
        padding: 4rem 2rem;
    }

    .sec7 h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 33px;
    }

    .sec7 h3{
        width: 90%;
    }


    .form{

        width: 100%;
        height: 100%;
        align-items: flex-start;
    }

    .form2{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    /* .input{
        margin-bottom: 40px;
        margin-right: 0%;
        width: 300px;
    } */

    .input_4 textarea{
        margin-right: 0%;
        min-width: 48rem;
    }

    .footer{
        padding: 2rem 1rem;
    }
 
    .footer p{
        width: 20rem;
    }

}