@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
}

.container {
    /* min-width: 100vw; */
    min-height: 100vh;
    overflow: hidden;
}

/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: aqua;
}

.logo {

    width: 40%;
    display: flex;
    justify-content: center;

}

.navlist {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navlist li {

    padding: 10px;

} */

.main {
    min-height: 80vh;
    background-color: rgb(2, 30, 70);
}


.hero {

    background-image: url(../Assets/bg.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    height: 100vh;
    padding: 0 20rem;

}

.hero svg {
    max-width: 80px;
    margin-bottom: 25px;
    fill: white;
}

.hero p {

    margin-bottom: 25px;; 
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
}

.hero h3 {


    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 150px;
}

.sec1 {

    min-width: 80vw;
    background-color: rgb(2, 30, 70);
    padding: 5rem 20rem;
}


.sec1 svg {

    fill: rgb(255, 159, 8);
    width: 300px;
    margin-bottom: 25px;
}

.sec1 p {

    font-size: 48px;
    margin-bottom: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    max-width: 42rem;

}



.btn {

    border: none;
    background-color: rgb(255, 159, 8);
    color: rgb(2, 30, 70);
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.sec2 {

    min-width: 80vw;
    background-color: rgb(2, 30, 70);
    padding: 5rem 20rem;

}

.sec2 h1 {

    text-align: left;
    margin-bottom: 40px;
    color: white;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 700;


}

.sec2-div1 {

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.sec2-div2 {

    width: 25%;
    text-align: left;
}

.sec2-div2 h2 {

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 159, 8);
    margin-bottom: 20px;

}

.sec2-div2 p {

    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(153, 153, 153);

}

.sec2-div3 {

    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {

    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.img img {
    width: 100%;
    height: auto;
}

.sec2-div4 {
    width: 25%;
    text-align: left;
}

.sec2-div4 h2 {

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 159, 8);
    margin-bottom: 20px;

}

.sec2-div4 p {

    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(153, 153, 153);

}

.btn-elegance {
    margin: 0%;
    margin-top: 20px;
}

.sec3 {

    min-width: 100vw;
    min-height: 500px;
    display: flex;
    background-color: rgb(255, 159, 8);
    padding-right: 4vw; 

}

.team {

    display: flex;
    flex-direction: column;
    background-color: rgb(2, 30, 70);
    margin-right: 80px;
    align-content: center;
    justify-content: center;
    padding: 5rem 20rem;
}


.team-1 {

    display: flex;
    justify-content: center;
    align-content: center;

}

.emplyee {

    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    margin-right: 5rem;

}

.employee-detail {
    text-align: center;
    color: white;
    text-align: center;
    color: white;
    width: 250px;
}

.employee-detail h2 {

    margin: 10px 10px;
    font-family: Merriweather, serif;
    font-size: 20px;
    font-weight: 400;
    color: white;

}

.employee-detail h3 {

    margin: 10px 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: rgb(241, 197, 14);

}

.employee-detail p {

    margin: 10px 10px;
    font-size: 14px;
    line-height: 24.2px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;

}

.social-icon {
    margin: 0px;
    padding: 0px;
}

.employee-detail svg {

    fill: white;
    width: 60px;
    padding: 0px;
    margin: 0px;

}

.dp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.btn2 {
    background-color: rgb(255, 159, 8);
    border: 0.5px;
    border-color: black;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin: 15px;
}

.ourteam {

    text-align: left;

}

.ourteam h1 {

    font-size: 48px;
    font-weight: 700;
    color: white;
    padding: 20px;
    text-align: left;
    font-family: Merriweather, serif;

}

.ourteam p {

    font-size: 16px;
    color: white;
    padding: 20px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    width: 600px;

}

.call-now {

    text-align: center;
    background-color: rgb(255, 161, 0);
    color: rgb(2, 30, 70);
    border: none;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    margin: 20px;

}

.sec4 {

    min-width: 100vw;
    min-height: 500px;
    background-color: rgb(2, 30, 70);
    padding: 5rem 20rem;
}

.sec4 h1 {

    color: white;
    font-size: 48px;
    font-weight: 400;
    font-family: Merriweather, serif;
    padding: 80px 10px;

}

.features {
    display: flex;
    font-family: 'Open Sans', sans-serif;

}

.feature_1 {

    width: 16%;
    padding: 2rem;
    padding-right: 4rem;
}

.feature_1 svg {

    background-color: rgb(255, 159, 7);
    fill: rgb(2, 30, 70);
    width: 55px;
    height: 55px;
    padding: 15px;
    border-radius: 10px;

}

.feature_1 h2 {

    font-size: 20px;
    padding-top: 20px;
    font-family: Montserrat, sans-serif;
    color: rgb(255, 161, 0);
    font-weight: 400;
    letter-spacing: 1px;

}

.feature_1 p {

    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 80px;
    color: white;
    font-family: "Open Sans", sans-serif ;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;

}

.sec5 {

    background-color: rgb(255, 159, 8);
    display: flex;
    align-items: center;
    padding-right: 4vw;
}

.sec5_1 {

    width: 100%;
    font-family: 'Open Sans', sans-serif;

}

.blue-bg{

    background-color: rgb(2, 30, 70);
    display: flex;
    align-items: center;
    padding: 5rem 10rem;
}

.testimonial1 {

    display: flex;
    align-items: center;
    margin-bottom: 10rem;

}

/* .testimonial1 div {

} */

.testimonial1 div h2 {
    color: white;
    padding: 10px;
}

.testimonial1 div p {
    color: white;
    padding: 10px;
}

.testimonial2 {

    display: flex;
    align-items: center;

}

.testimonial2 div h2 {
    color: white;
    padding: 10px;
}

.testimonial2 div p {
    color: white;
    padding: 10px;
}


.dp2 {

    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10rem;
}

.sec5_2 {

    width: 40%;
    text-align: center;
    color: white;
    font-size: 40px;

}

.sec5_2 h1{

    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;

}

.sec6 {

    background-color: rgb(2, 30, 70);
    color: white;
    padding: 5rem 20rem;
}

.sec6 h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px ;
    color: white;
    width: 50%;
    margin-bottom: 20px;
}


.about {

    width: 44%;
    margin-bottom: 60px;
    color: white;
    font-family: "Opan Sans" , sans-serif;
    font-size: 16px;
    line-height: 25.6px;

}

.counting {

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.count1 {

    width: 20%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;


}

.counter {
    font-family: Montserrat, sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 86.4px;
    margin-bottom: 20px;
}

.counter-p{

    font-family: "Opan Sans" , sans-serif;
    font-size: 16px;
    line-height: 25.6px;

}

.count1 h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Opan Sans" , sans-serif;
    line-height: 25.6px;
    margin-bottom: 20px;
}

.count2 {

    width: 20%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;


}

.count2 h2 {

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Opan Sans" , sans-serif;
    line-height: 25.6px;
    margin-bottom: 20px;
}

.count3 {

    width: 20%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;


}

.count3 h2 {

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Opan Sans" , sans-serif;
    line-height: 25.6px;
    margin-bottom: 20px;
}

.count4 {

    width: 20%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;


}

.count4 h2 {

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Opan Sans" , sans-serif;
    line-height: 25.6px;
    margin-bottom: 20px;
}

.smallbar {

    width: auto;
    height: 15px;
    margin-bottom: 40px;
    background-color: rgb(255, 159, 8);

}

.sec7 {

    padding: 5rem 20rem;
    background-color: rgb(2, 30, 70);
    color: white;
    min-height: 40rem;

}

.sec7 h1 {

    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    margin-bottom: 20px;
}

.sec7 h3 {

    margin-bottom: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    font-family: 'Open Sans', sans-serif;

}


.form {

    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.input{
    color: white;
    border: none;
    border-bottom: 4px solid rgb(255, 161, 0);
    background-color: rgb(2, 30, 70);
    margin-right: 20px;
    height: 50px;
    width: 240px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 25.6px;
}

.label{
    font-family: "Opan Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.label a{
    text-decoration: none;
    font-family: "Opan Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: rgb(170, 204, 247);
}

.input_1 {

    width: 35%;
    display: flex;
    flex-direction: column;
}

.input_2 {

    width: 35%;
    display: flex;
    flex-direction: column;
}

.input_3 {

    width: 35%;
    display: flex;
    flex-direction: column;
}

.form2 {

    width: 60%;
    height: 200px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.input_4 {

    width: 35%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input_4 textarea {

    color: white;
    border: none;
    border-bottom: 4px solid rgb(255, 161, 0);
    background-color: rgb(2, 30, 70);
    margin-right: 20px;
    min-height: 10rem;
    min-width: 48rem;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 25.6px;
}

.input_5 {
    margin-bottom: 40px;
}

.footer {

    padding: 5rem 5rem;
    text-align: center;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p{

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: 430px;
    line-height: 22.4px;
    color: rgb(255,255,255);
    padding: 1.5rem ;
    
}